@page  "{restaurantId}"
@model OdeToFood.Pages.Restaurants.DeleteModel
@{
}


<h2>Delete!</h2>
<div class="alert alert-danger">
    Are U Sure you want to Delete @Model.Restaurant.Name ?
</div>
<form method="post">
    <button class="btn btn-danger" type="submit">Yes!</button>
    <a asp-page="List" class="btn btn-default">Cancel</a>
</form>
