@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}
<h2>List</h2>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                    
                </button>
            </span>
        </div>
    </div>
</form>


    @foreach (var Restaurant in Model.Restaurants)
    {
        <partial name="_Summary" model="Restaurant" />
    }

<a class="btn btn-default" asp-page="./Edit">Add New Restaurants</a>

@section footer
{
<div class="form-group">
    @Model.Message
</div>
}